<div th:fragment="header">
	
	<div class="container-fluid">
	
		<nav class="row" style="border-bottom: 3px solid rgb(56,20,116);">
    		<div class="col-3 align-self-center">
    			<img src="../img/chueca-copia.png"  width="80%" alt="">
    		</div>
    		<div class="col-5 align-self-center">	
    			<h1>Panel de Administración</h1>
    		</div>
    		<div class="col-2">
    			<div class="row d-flex flex-row-reverse">
    				<img class="rounded-circle m-2 p-2" src="../img/Carla.jpeg"  width="50%" alt="">
    				<p class="p-2">¡ Bienvenida Carla !</p>
    			</div>	
    		</div>
    		<div class="col-2 d-flex flex-row-reverse justify-content-center mt-auto p-2">
    				<button type="button" class="btn btn-outline-secondary p-2">Logout</button>
    		</div>
    	</nav>
    
   	</div>
		
</div>
  



